
@{
    ViewBag.Title = "Modules";
}

@* Callback for layout & title page name *@
@{
    ViewBag.Title = "Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<body>

    <h2 style="background-color: skyblue; color: black; padding: 25px 0px; padding-left: 15px;"><b>Cyber security Modules</b></h2>

    <br>

    @*Cyber security Modules Callback*@
    <div class="jumbotron" height="200" style="border-radius: 20px;">
        <h2 style="text-decoration: underline; text-decoration-color: #f99d20; padding-bottom: 5px; text-underline-offset: 5px;"><b>@Model.ModuleTitle</b></h2>
        <h3><b>@Model.ModuleCode</b></h3>
        <p>@Model.ModuleDescription</p>
        <p><b>Contents:</b> @Model.ModuleContents</p>
        <p><b>Tutors:</b> @Model.StaffMembers</p>
    </div>

    @*Cyber security Modules Callback*@
    <div class="jumbotron" height="200" style="border-radius: 20px;">
        <h2 style="text-decoration: underline; text-decoration-color: #f99d20; padding-bottom: 5px; text-underline-offset: 5px;"><b>@Model.ModuleTitle1</b></h2>
        <h3><b>@Model.ModuleCode1</b></h3>
        <p>@Model.ModuleDescription1</p>
        <p><b>Contents:</b> @Model.ModuleContents1</p>
        <p><b>Tutors:</b> @Model.StaffMembers1</p>
    </div>

    @*Cyber security Modules Callback*@
    <div class="jumbotron" height="200" style="border-radius: 20px;">
        <h2 style="text-decoration: underline; text-decoration-color: #f99d20; padding-bottom: 5px; text-underline-offset: 5px;"><b>@Model.ModuleTitle2</b></h2>
        <h3><b>@Model.ModuleCode2</b></h3>
        <p>@Model.ModuleDescription2</p>
        <p><b>Contents:</b> @Model.ModuleContents2</p>
        <p><b>Tutors:</b> @Model.StaffMembers2</p>
    </div>

    @*Cyber security Modules Callback*@
    <div class="jumbotron" height="200" style="border-radius: 20px;">
        <h2 style="text-decoration: underline; text-decoration-color: #f99d20; padding-bottom: 5px; text-underline-offset: 5px;"><b>@Model.ModuleTitle3</b></h2>
        <h3><b>@Model.ModuleCode3</b></h3>
        <p>@Model.ModuleDescription3</p>
        <p><b>Contents:</b> @Model.ModuleContents3</p>
        <p><b>Tutors:</b> @Model.StaffMembers3</p>
    </div>

    @*Cyber security Modules Callback*@
    <div class="jumbotron" height="200" style="border-radius: 20px;">
        <h2 style="text-decoration: underline; text-decoration-color: #f99d20; padding-bottom: 5px; text-underline-offset: 5px;"><b>@Model.ModuleTitle4</b></h2>
        <h3><b>@Model.ModuleCode4</b></h3>
        <p>@Model.ModuleDescription4</p>
        <p><b>Contents:</b> @Model.ModuleContents4</p>
        <p><b>Tutors:</b> @Model.StaffMembers4</p>
    </div>

    @*Cyber security Modules Callback*@
    <div class="jumbotron" height="200" style="border-radius: 20px;">
        <h2 style="text-decoration: underline; text-decoration-color: #f99d20; padding-bottom: 5px; text-underline-offset: 5px;"><b>@Model.ModuleTitle5</b></h2>
        <h3><b>@Model.ModuleCode5</b></h3>
        <p>@Model.ModuleDescription5</p>
        <p><b>Contents:</b> @Model.ModuleContents5</p>
        <p><b>Tutors:</b> @Model.StaffMembers5</p>
    </div>

    @*cyber security Modules Callback*@
    <div class="jumbotron" height="200" style="border-radius: 20px;">
        <h2 style="text-decoration: underline; text-decoration-color: #f99d20; padding-bottom: 5px; text-underline-offset: 5px;"><b>@Model.ModuleTitle6</b></h2>
        <h3><b>@Model.ModuleCode6</b></h3>
        <p>@Model.ModuleDescription6</p>
        <p><b>Contents:</b> @Model.ModuleContents6</p>
        <p><b>Tutors:</b> @Model.StaffMembers6</p>
    </div>




    @* Footer  *@
    <div style="background-color: skyblue; color:black; width: 1200px; height: 350px;   padding-left: 60px;">

        <div style="display: flex;">
            <div style="padding-top: 50px;">
                <img src="https://yt3.ggpht.com/a-/AAuE7mCxISd7bsEZ6XV-SZQqqBWtwxJWYqdJs_V-rw=s900-mo-c-c0xffffffff-rj-k-no" height="120" width="320">
            </div>
            <div>
                <ul class="nav navbar-nav" style="padding-top: 50px; padding-left: 320px; color: white; font-size: 17px;">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Course", "Course", "Course")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>

        <br>

        <div>
            <b style="font-size: 30px;">The British College</b>
            <p style="font-size: 20px;"> <br> Kathmandu Nepal</p>
        </div>

    </div>


</body>
</html>